
<div id='landing_div'>
  <div id='landing_content'>
    <h1 id ='date_spots'> Date Spots </h1>
  </div>

  <div class="search-form">
    <%= form_tag(locations_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Plan your next date", class: 'search-input' %>
    <br/>
    <%= submit_tag "Search", class: 'submit', id: 'see_locations' %>
    <% end %>
  </div>

    <div id='replacing_content' class='<%= @class_name %>'>
      <div class ='locations'>
        <h2> Our Users Have Visted </h2>
        <% @locations.each do |location| %>
        <%= link_to location.name_of_location, location_path(location) %> <br>
        <% end %>
      </div>
      <%= link_to "Add a new spot", new_location_path, class:'btn' %>
    </div>


</div>
