<%= form_tag(locations_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Locations" %>
<%= submit_tag "Search" %>
<% end %>

<h1> All Locations </h1>
<% @locations.each do |location| %>
  <%= link_to location.name_of_location, location_path(location) %> <br>
<% end %>

<h4 class="live-update" id="react-update"></h4>

<%= link_to "Add New Location", new_location_path %>
